body {
  background-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #4d4d4d;
  margin: 0;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, dialog, footer, header, section, footer, nav, figure, menu, label {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  text-align: center;
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  color: #4d4d4d;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

fieldset, img, input, button, textarea {
  border: 0;
}

ol, ul, li {
  list-style: none;
}
input {
  outline:none;
  font-size: 0.2rem;
  color: #4E9CA0;
  box-sizing: border-box;
  padding-left: 5px;
}
